<table class="table table-hover mt-3">
  <thead>
  <tr>
    <th scope="col">Rechnungsnummer</th>
    <th scope="col">Land</th>
    <th scope="col">Zahlungsstatus</th>
    <th scope="col">Rechnungsdatum</th>
    <th scope="col">Preis</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of invoices" (click)="onItemClick(i)" class="clickable-tr"
      [ngClass]="{'selected-tr' : selectedInvoice === i}">
    <th scope="row">{{i.invoiceNumber}}</th>
    <td>{{i.country}}</td>
    <td>{{i.paymentStatus}}</td>
    <td>{{i.invoiceDate | date:'yyyy-MM-dd HH:mm'}}</td>
    <td>{{i.price | currency:'EUR'}}</td>
  </tr>
  </tbody>
</table>
